html, body{
  margin: auto;
  width: 480px;
}
body div{
  margin: auto;
}
* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#console{
  font-family: verdana, arial, sans-serif;
  position: absolute;
  top: 0px;
  float: left;
  width: 480px;
  z-index: 100;
  color: #888;
  font-weight: bold;
}
#console:active, #console:hover{
  color: #fff;
}
#score{
  display: inline-block;
  padding: 4px;
}
#max_score{
  float: right;
  display: inline-block;
  padding: 4px;
}
#loading{
  text-align: center;
  color: #999;
  padding-top: 150px;
  padding-bottom: 150px;
}
body{
  font-family: Helvetica;
  background: url('/assets/images/classy_fabric.png');
  color: #fafafa;
}
.intro{
  text-align: center;
}
.play, .github{
  display: block;
  color: #555;
  text-decoration: none;
  margin: 1em auto;
  background-color: #fff;
}
a.play{
  width: 200px;
  padding: 1em;
  font-weight: 900;
  font-size: 1.3em;
}
a.github{
  width: 140px;
  padding: 0.5em 0;
}
